*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blur-in{animation:blur-in 0.9s linear} @keyframes blur-in{0%{filter:blur(50px);opacity:0}100%{filter:blur(0);opacity:1}}

html{
    height: 100%;
}

body{
    font-family:'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6em;
    color: #333;
    display: flex;
    height: 100%;
    flex-direction: column;
   
}

.video{
    display: none;
}

.video1{
    display: block;
        position: fixed;
        opacity: 0.7;
        z-index: -3;
        min-height: 100%;
        min-width: 100%;
        overflow: hidden;
        top: 50%;
        left: 50%;
        object-fit:cover;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
}

.containere{
    width: 85%;
    max-width: 950px;
    margin:0 auto;
}

.header{
    background-color:rgb(42, 42, 42);
    color: whitesmoke;
    padding: 2rem 0;
    left: 0;
    right: 0;
    width: 100%;
}

.barra{
    display: none;
}

.header a{
    color: whitesmoke;
    text-decoration: none;
}

.header a:hover{
    color: whitesmoke;
    text-decoration: none;
}

.mainInicio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.7rem;
        padding-top: 5rem;
        height: 100%;

}
.contactoTitulo{
    margin: 20px 0 ;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.7rem;
    padding-top: 5rem;
}

.tit{
    display: flex;
    justify-content: left;
}

.main-parte1 p{
    margin-top: 0px;
}

.main-parte2 img{
    display: none;
    height: 400px
}
/*Sobre Mi*/

.main-parte3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.2rem;
}

.main-parte3 p{
    margin: 1rem 0;
    font-size: 20px;
}

/*Contacto*/

.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    width: 100%;
}

.bloque{
    margin: 2em auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 48px -3px rgba(0,0,0,0.75);
}

.tit3{
    padding: 2rem;
    color:#333;
    margin-bottom: -1.5rem
}

.form-container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.form-container2 input, textarea{ 
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.form-container2 label{
    color: #333;
    font-size: 20px;
}

.elboton{
    margin-top: 1.2rem;
}

.q{
    margin: 5px 0;
}

/*-------------------------------------------------------*/

.main4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem;
}

.tit5{
    margin-bottom: 4rem;
}

.texto5{
    padding: 10px;
    font-size: 20px;
}
/*-------------------------------------------------------*/
.galeria_conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.galeria_imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.galeria_item p{
    color: white;
}

.galeria_item:hover{
    opacity: 2;
}

.galeria_item{
    position: relative;
    opacity: 1;
    background: #333;
    transition: .5s;
}

.galeria_titulo{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rbga(255, 255, 255, 0)), rgba(0,0,0,0.1);
    width: 100%;
    margin: 0;
    padding: 10px;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
}

.galeria_titulo:hover{
    opacity: 1;
    transition: all 3s;
    box-shadow: 10px 7px 33px -17px rgba(0,0,0,0.75);
    text-shadow: -1px -1px 4px #333;
}

.galeria_item:nth-child(1){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.galeria_item:nth-child(2){
    grid-row-start: span 2;
}

.galeria_item:nth-child(3){
    grid-row-start: span 2;
}

.galeria_item:nth-child(6){
    grid-column-start: span 2;
}

/*-------------------------------------------------------*/



/*-------------------------------------------------------*/

.texto4{
    font-size: 20px;
    margin: 20px 0;
}

.letras_cuadro{
    font-size: 20px;
    margin-top: 10px;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navegation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegation ul li{
    display: inline-block;
}

.navegation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}

.navegation ul li a:hover{
    background: rgb(96, 96, 96);
    border-radius: 5px;
    color: whitesmoke;
}

.logo{
 letter-spacing: 15px;
 font-size: 1.3em;
}

.contenedor{
    display: flex;
}

.footere{
    background: #b3b3b3;
    text-align: center;
    margin-top: auto;
}

.footer_redes{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-right: 2rem;
}

.footere p{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.footer_redes li{
    margin: 5px;
}

.footer_redes li a{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.footer_redes li a:hover{
    color: rgb(96, 96, 96);
}

::placeholder{
    font-size: 20px;
}

@media screen and (max-width: 1174px){
    .main{
        font-size: 1.4rem ;
    }

    .main-parte2 img{
        height: 300px;
    }

    
}

@media screen and (max-width: 1020px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .galeria_conteiner{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width: 767px) {
    .navegation{
        width: 100%;
        margin-top: 1rem;
    }

    .barra{
        display: block;
        cursor: pointer;
    }

    .navegation ul{
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navegation ul.show{
        display: flex;
        flex-direction: column;
        align-items: center; 
    } 

    .navegation ul li{
        display: block;
    }
    
    .navegation ul li a{
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear; 
    }
    
    .navegation ul li a:hover{
        background: rgb(96, 96, 96);
        border-radius: 5px;
    
    }
    
    .logo{
     letter-spacing: 15px;
     font-size: 1.3em;
    }

    .main{
        padding-top: 2rem;
    }

    .main-parte1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        color: black;
        padding-bottom: 20rem;
    }

    .tit{
        font-size: 2rem;
    }

    .main-parte2 img{
        display: none;
    }

    .video{
        display: block;
        position: fixed;
        opacity: 0.7;
        z-index: -3;
        min-height: 100%;
        min-width: 100%;
        overflow: hidden;
        top: 50%;
        left: 50%;
        object-fit:cover;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

    .video1{
        display: none;
    }
    
    
    .footere{
        padding: 1rem 0;
    }

    .footer_redes li a{
        margin: 0 1rem;
    }

    .galeria_titulo{
        font-size: 15px;
    }
    
    .bloque{
        box-shadow: none;
    }
    
    .tit3{
        font-size: 21px;
    }

    .form-container2 label{
        font-size: 15px;
    }

    .form-container2 button{
        font-size: 15px;
    }

    ::placeholder{
        font-size: 15px;
    }

}

@media screen and (max-width: 490){
    .main-parte3 p{
        font-size: 5rem ;
    }

    .footere{
        max-height: 100px;
    }

    .bloque{
        padding: 0;
        font-size: 1rem;
    }

}